/* 主页的css文件 */
/* 重置浏览器默认样式 */
body, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

/* 页面主容器样式 */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* 主内容区的样式 */
.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
}

/* 主标题样式 */
.main-title {
  font-size: 48px;
  font-weight: bold;
}

/* 视频背景样式 */
#bgVideo {
  position: fixed; /* 固定位置 */
  right: 0;
  bottom: 0;
  min-width: 100%; /* 至少覆盖整个宽度 */
  min-height: 100%; /* 至少覆盖整个高度 */
  width: auto;
  height: auto;
  z-index: -100; /* 确保视频在内容后面 */
  background-size: cover; /* 覆盖整个容器 */
}

.container {
  position: relative; /* 相对定位 */
  z-index: 100; /* 确保内容在视频之上 */
}

/* 头部区域样式 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(20, 208, 255, 0.75);
}

.logo img {
  margin-left: 60px;
  height: 50px;
}

.menu a {
  margin-right: 65px;
  text-decoration: none;
  color: #f5f5f5;
  font-weight: bold;
}

/* 搜索框样式 */
/* 参考文献：https://blog.csdn.net/m0_62237068/article/details/131784318 */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 搜索输入框样式 */
.search-bar input[type="text"] {
  width: 400px;
  height: 45px;
  background-image: url('../image/search.png'); /* 使用 ../ 返回上一级目录 参考文献：https://blog.csdn.net/neet007/article/details/51986587 */
  background-repeat: no-repeat;
  border-radius: 30px 0px 0px 30px;
  padding-left: 50px;
  background-position: 12px 10px;
  background-size: 25px;
  color: darkgray;
  font-size: 18px;
  border: none;
  outline: none; /* 移除聚焦时的默认外边框 */
}

/* 搜索输入框获得焦点时的样式 */
.search-bar input[type="text"]:focus {
  outline: coral solid 1px;
}

/* 搜索按钮样式 */
.search-bar button[type="submit"] {
  width: 90px;
  height: 47px;
  border: none;
  background-color: coral;
  color: #fff;
  border-radius: 0px 20px 20px 0px;
  font-size: 20px;
  cursor: pointer;
}

/* 搜索按钮悬浮时样式 */
.search-bar button[type="submit"]:hover {
  background-color: #ff5900;
}

.user-area {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.user-area .user-avatar {
  width: 40px;
  height: 40px;
  margin-right: 50px;
  border-radius: 50%; /* 圆形图片 */
  object-fit: cover; /* 确保图片在框中以合适的方式填充，而不被拉伸或压缩 */
  border: 2px solid #fff; /* 圆形头像边框 */
}


.user-area a {
  margin-right: 50px;
  text-decoration: none;
  color: #f5f5f5;
  font-weight: bold;
}

/* 用户头像样式 */
.user-avatar {
  cursor: pointer;
}

/* 模态框样式 */
/* 参考文献：https://www.w3schools.cn/howto/howto_css_modals.html */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  opacity: 1; /* 不透明度 */
}

.modal-content {
  position: relative;
  background-color: rgba(20, 208, 255, 0.88);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  display: flex;
  opacity: 1; /* 不透明度 */
  border-radius: 15px;
}

.avatar-selection {
  flex-basis: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.select-avatar {
  cursor: pointer;
  width: 80px; /* 设置固定的宽度 */
  height: 80px; /* 设置固定的高度 */
  margin: 10px;
  object-fit: cover; /* 裁剪并保持图片的比例 */
  object-position: center; /* 确保图片中心对齐 */
  border-radius: 50%;
}

.avatar-preview {
  flex-basis: 25%;
  text-align: center;
}

.avatar-preview img {
  width: 100%; /* 宽度占满容器 */
  height: auto; /* 高度自动调整 */
  object-fit: cover; /* 裁剪并保持图片的比例 */
  object-position: center; /* 确保图片中心对齐 */
  border-radius: 50%;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

/* 底部部分 */
.footer {
  text-align: center; /* 内容居中 */
  padding: 20px; /* 底部内边距 */
  color: #f1f1f1; /* 文本颜色 */
}

.footer h3 {
  margin: 0 0 10px; /* 大字与下方小字之间的间距 */
  font-size: 1.5em; /* 大字的字体大小 */
}

.footer p {
  margin: 0; /* 去掉段落默认的上下边距 */
  font-size: 0.9em; /* 小字的字体大小 */
}
